/* Main */
.admin{ 
    background-color: #f8f9fd;
}
.admin .container-fluid {
    padding: 20px;
}

/* Button */
.admin .btn-main, 
.admin #msform .action-button, 
.admin .action-button {
    background: #172856;
    color: #fff;
    box-shadow: 0px 0px 4px 1px #dedede;
}
.admin .btn-secondary, 
.admin #msform .action-button-previous, 
.admin .action-button-previous {
    background: #fff;
    color: #172856;
    box-shadow: 0px 0px 8px 5px #dedede;
    /* 0px 0px 6px 2px #dedede */
}
.btn-secondary.focus, .btn-secondary:focus {
    border-color: snow;
}
.admin .btn-shadow{
    background: #fff;
    color: #172856;
    box-shadow: 0px 0px 4px 1px #dedede;
}

/* Input */
.admin .upload-product-list .modal-body input {
    padding: 0;
    height: unset;
    border: 0;
}

/* Card */
.admin .card{
    padding: 0 20px 20px;
    /* margin-top: 20px; */
    box-shadow: 0px 0px 6px 2px #dedede;
}

/* Pagination */
.admin .ag-theme-alpine .ag-paging-panel{
    background-color: #f1f3e8;
}

/* Header */
.admin .navbar .container-fluid {
    padding: 0 16px;
}
.admin .navbar-light .navbar-nav .nav-link {
    color: #172856;
    font-weight: 600;
}
.admin .navbar-light .navbar-nav .nav-link:hover {
    color: #cbe712;
    font-weight: 600;
}
.admin .dropdown-item.active, .admin .dropdown-item:active {
    background-color: #172856;
}
.admin .dropdown-item:hover {
    color: #172856;
}

/* Icon Color */
.admin i {
    color: #172856;
}  
i.icon-red {
color: #dc3545;
}
/* Tabs */
.admin .react-tabs__tab--selected {
    background: #cbe712;
    border-color: #cbe712;
    color: #fff;
    border-radius: 5px;
    padding-bottom: 10px;
}

.admin .react-tabs__tab:focus {
    box-shadow: none;
    border-color: snow;
    outline: none;
}

/* Start Customer Order */

    /* Modal header */
    .admin .modal-header {
        background: #172856;
        color: #fff;
    }
    /* Modal button */
    .admin .bg-main {
        background-color: rgb(23, 40, 86, 96%);
        border: 1px solid rgb(23, 40, 86, 22%);
        padding: 10px;
        color: #fff;
    }
    /* Modal Content */
    .admin .modal .react-tabs__tab-panel--selected {
        box-shadow: 0px 0px 7px 2px #dedede;
    }
    .admin .product-detail-table {
        height: calc(100vh - 315px);
        width: 100%;
    }
    .admin#admincustorder .modal-body .row,
    .admin#crm .modal-body .row{
        border-bottom: 1px solid #f1f1f1;;
    }
    /* Table header */
    .admin .ag-theme-alpine .ag-header-row {
        font-weight: 700;
        color: #fff !important;
        background: #172856;
    }
    /* Top box */
    .admin .image-overlap-container {
        box-shadow: 0px 0px 4px 1px #dedede;
    }
    .admin .bg-main {
        /* background-color: rgb(203, 231, 18, 56%); */
        /* color: #172856; */
        background-color: rgb(203 231 18 / 90%);
        border: none;
        color: #fff;
        font-weight: 600;
    }
    .admin .image-container img {
        opacity: 0.2;
    }

/* End Customer Order */

/* Start Customer Shipping Info  */
    .admin .admin-shipaddress {
        padding-right: 15px !important;
        padding-left: 15px !important;
    }
    .admin #progressbar .active {
        color: #172856;
    }
    .admin #progressbar li.active:before, .admin #progressbar li.active:after {
        background: #172856;
    }
    .admin .fs-title {
        color: #172856;
    }
    .admin .admin-mb{
        margin-bottom: 20px;
    }
    .admin .order-bg {
        background-color: #cbe712;
        color: #172856;
    }

/* Start CPP */
    .cpp-image-wrapper{
        position: relative;
    }
    .cpp-image-wrapper img{
        width: 100%;
    }
    .cpp-text-overlap{ 
        position: absolute;
        top: 13%;
        left: 5%;
        right: 5%;
    }
    .cpp-image-title{
        font-size: 3rem;
        line-height: 1.2;
        word-spacing: 9px;
    }
    .cpp-image-title p{
        margin-bottom: 0;
    }
    .cpp-image-subtitle{
        font-size: 1.4rem;
        line-height: 1.2;
        word-spacing: 3px;
    }
    .admin .form-floating > .form-control, 
    .admin .form-floating > .form-select {
        background-color: transparent;
    }
/* End CPP */

/* Start CRM */
.jFanTw {
    max-height: 75vh !important;
}
/* End CRM */