/*-----------------------------------------------------

    Title :  Global CSS
    Usage :  common styles

-------------------------------------------------------

    1. reset
    2. font
    3. typography
    4. reusable
    5. container
    6. banner
    7. app navigation
    8. content
       8.1. main contant
       8.2. sidebar
            8.2.1. Ask the analyst
            8.2.2. country data
       8.3. Notification Setting
    9. slideout

-------------------------------------------------------*/

/*  1. reset
-------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  line-height: 1.2;
  color: #435b6f;
  font-family: Lato, sans-serif;
  /* overflow: hidden; */
}

/* main {
	display: block;
	} */

/* h1, h2, h3, h4, h5, h6,
input, select, button, textarea,
small {
	font-size: 100%;
	} */

li {
  list-style: none;
}

strong {
  font-weight: 700;
}

img {
  vertical-align: top;
}

img,
abbr,
fieldset,
iframe {
  border: none;
}

abbr {
  text-decoration: none;
}

img,
video {
  max-width: 100%;
  height: auto;
}

iframe {
  max-width: 100%;
}

object {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  text-align: left;
}

input,
textarea,
button {
  color: inherit;
  font-weight: inherit;
  font-family: inherit;
  outline: none;
  box-shadow: none;
}

textarea {
  vertical-align: top;
  overflow: auto;
  -webkit-appearance: none;
  border-radius: 0;
}

button {
  cursor: pointer;
  overflow: visible;
}

button:disabled {
  min-width: 100px;
  width: 150px;
  background: #dddddd;
  font-weight: bold;
  color: rgb(138, 125, 125);
  border: 0 none;
  border-radius: 0px;
  cursor: not-allowed;
  padding: 10px 5px;
  margin: 10px 5px;
}

button:not(:disabled) {
  cursor: pointer;
}

.ps__rail-x,
.ps__rail-y {
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

/*  2. font
-------------------------------------------------------*/

/*  3. typography
-------------------------------------------------------*/

a {
  color: inherit;
  text-decoration: none;
  transition: color var(--trans-dur);
}

a:hover {
  color: var(--active-color);
}

.select .text-placeholder {
  color: #bac5cf;
}

::-webkit-input-placeholder {
  color: #bac5cf;
}

::-moz-placeholder {
  color: #bac5cf;
}

:-ms-input-placeholder {
  color: #bac5cf;
}

/*  4. default
-------------------------------------------------------*/

/*  variables  */

:root {
  --heading-color: #253747;
  --active-color: #e3adab;
  --error-color: #fc726d;
  --ico-static-color: #cad4dd;
  --ico-hover-color: #e3adab;
  --border-color: #e6ebf2;
  --trans-dur: 200ms;
}

/*  dropdown menu  */

.dm {
  position: absolute;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: visibility var(--trans-dur), opacity var(--trans-dur);
}

.dm-accessible {
  visibility: visible;
  opacity: 1;
}

.dm li {
  cursor: pointer;
  transition: background-color var(--trans-dur);
}

.dm li:hover {
  background-color: #eef2f9;
}

.dm li.active {
  font-weight: 700;
}

/*  tag  */

.tag {
  display: inline-block;
  padding: 5px 7px 4px;
  cursor: pointer;
  color: #b9b5b4;
  font-size: 8px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.0625em;
  background-color: #f5f5f5;
  border-radius: 3px;
}

.tag-closed {
  color: #fff;
  background-color: #e93240;
}

.tag-open {
  color: #fff;
  background-color: #69c735;
}

.tag-editors-choice,
.tag-historical,
.tag-country-name {
  color: #2c8cd2;
  background-color: #d9efff;
}

.tag-breaking-news {
  color: #fff;
  background-color: #ebc139;
}

.tag-medication {
  color: #fff;
  background-color: #b6bcc3;
}

.tag-yes {
  color: #fff;
  background-color: #69c735;
}

.tag-partial {
  color: #fff;
  background-color: #eb7639;
}

.tag-no {
  color: #fff;
  background-color: #e93240;
}

/*  form elements */

.form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
}

.noti-set .form {
  margin-top: 11px;
}

.form .label {
  display: block;
  margin-bottom: 8px;
  width: 100%;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.042em;
}

.form .ico-search {
  position: absolute;
  bottom: 11px;
  right: 14px;
  width: 16px;
  height: 17px;
  pointer-events: none;
}

.form .ico-search + input {
  padding-right: 43px;
}

.form .error,
.select .error {
  margin-top: 3px;
  color: var(--error-color);
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.036em;
}

/*  input  */

input {
  padding: 0 17px;
  width: 100%;
  height: 40px;
  font-size: 14px;
  letter-spacing: 0.036em;
  background-color: #fff;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  transition: background-color var(--trans-dur), border-color var(--trans-dur);
}

.input-error,
.textarea-error {
  background-color: #fff6f6;
  border-color: #ffc3b4;
}

/*  textarea  */

textarea {
  padding: 12px 17px;
  width: 100%;
  height: 122px;
  resize: none;
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.036em;
  background-color: #f7fafc;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  transition: background-color var(--trans-dur), border-color var(--trans-dur);
}

/*  select  */

.select {
  position: relative;
  width: 100%;
}

.select .default {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 17px;
  height: 40px;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 0.035em;
  background-color: #f7fafc;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  transition: background-color var(--trans-dur), border-color var(--trans-dur);
}

.select .default-error {
  background-color: #fff6f6;
  border-color: #ffc3b4;
}

.select .ico-arrow-down {
  position: absolute;
  top: 50%;
  right: 18px;
  margin-top: -2px;
  stroke: #48505c;
}

.select .dm {
  top: 50px;
  left: 0;
  width: 100%;
  max-height: 209px;
  overflow: auto;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
}

.select .dm-flippable {
  top: -5000px;
}

.select .dm-on-the-bottom {
  top: 50px;
}

.select .dm-on-the-top {
  top: auto;
  bottom: 50px;
}

.select ul {
  display: block;
  margin-bottom: 0;
  padding: 5px 0;
}

.select li {
  position: relative;
  padding: 8px 15px 8px;
  cursor: pointer;
  color: #707c84;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
}

.select .checkbox-list li {
  padding-left: 44px;
}

.select .checkbox-list .checkbox {
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -7.5px;
}

/*  checkbox  */

.checkbox {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #d7dee8;
  border-radius: 3px;
  transition: background-color var(--trans-dur), border-color var(--trans-dur);
}

.active > .checkbox {
  background-color: #0e68b0;
  border-color: #0e68b0;
}

.checkbox .ico-check {
  position: absolute;
  top: 4px;
  left: 2px;
  width: 10px;
  height: 7px;
  stroke: #fff;
}

/*  radio  */

.radio {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  cursor: pointer;
  color: #d7dee8;
  background-color: #fff;
  border: 1px solid currentColor;
  border-radius: 50%;
  transition: color var(--trans-dur);
}

.active > .radio {
  color: var(--active-color);
}

.radio::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -4px 0 0 -4px;
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 50%;
}

.active > .radio::before {
  background-color: currentColor;
}

/*  button  */

.btn {
  /* width: 100%; */
  color: #fff;
  font-weight: 700;
  border: 1px solid transparent;
  border-radius: 3px;
  transition: color var(--trans-dur), background-color var(--trans-dur),
    border-color var(--trans-dur);
}

.btn-lg {
  padding: 0 15px;
  height: 48px;
  font-size: 16px;
  letter-spacing: 0.03125em;
}

.btn-sm {
  padding: 0 10px;
  height: 30px;
  font-size: 12px;
  letter-spacing: 0.042em;
}

.btn-main {
  background-color: var(--active-color);
}

.btn:hover {
	/* background-color: #e3adab; */
	/* border-color: #e3adab; */
	color: #fff;
	}

.btn-disabled {
  color: #fff;
  background-color: #ebc139;
  border-color: #ebc139;
}

.btn-check:focus + .btn,
.btn:focus {
  outline: 0;
  box-shadow: none;
}

.btn-link {
  border: 0;
  background-color: transparent;
  color: #e3adab;
  font-size: 14px;
}

/*  tab contents  */

.tabs {
  position: relative;
}

.tabs .tab {
  cursor: pointer;
  transition: color var(--trans-dur);
}

.tabs .tab-active,
.tabs .tab:hover {
  color: var(--active-color);
}

.tabs .tab-active {
  cursor: default;
  font-weight: 700;
}

.tabs .indicator {
  position: absolute;
  bottom: -1px;
  height: 2px;
  background-color: var(--active-color);
}

.tabs .indicator::before {
  content: "";
  position: absolute;
  top: 0;
  left: -1px;
  width: 2px;
  height: 100%;
  background-color: var(--active-color);
}

.tabcont {
  position: absolute;
  left: -5000px;
}

.tabcont-active {
  position: static;
}

/*  icon  */

i {
  color: #e3adab;
  margin: 0 15px;
  font-size: 1.4rem;
}

/* .ico {
	color: var(--ico-static-color);
	fill: var(--ico-static-color);
	stroke: var(--ico-static-color);
	box-sizing: content-box;
	transition-property: fill, stroke, transform;
	transition-duration: var(--trans-dur);
	}

.ico path,
.ico circle,
.ico text {
  fill: inherit;
  stroke: inherit;
}

.ico-clickable {
  cursor: pointer;
}

.ico-clickable:hover {
  color: var(--ico-hover-color);
  fill: var(--ico-hover-color);
  stroke: var(--ico-hover-color);
}

.ico-gridview {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  transition: color var(--trans-dur);
}

.ico-gridview i {
  padding-top: 44.445%;
  width: 44.445%;
  background-color: currentColor;
  border-radius: 12.5%;
}

.ico-menu-dots {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  vertical-align: middle;
  box-sizing: content-box;
  width: 3px;
  height: 15px;
  transition: color var(--trans-dur);
}

.ico-menu-dots i {
  padding-top: 100%;
  width: 100%;
  background-color: currentColor;
  border-radius: 50%;
}

.ico-dollar {
  width: 20px;
  height: 20px;
}

.ico-regional {
  width: 22px;
  height: 22px;
}

.ico-search {
  width: 16px;
  height: 17px;
}

.ico-binoculars {
  width: 26px;
  height: 20px;
}

.ico-logout {
  width: 22px;
  height: 23px;
}

.ico-export {
  width: 18px;
  height: 21px;
}

.ico-calendar {
  width: 20px;
  height: 20px;
}

.ico-graph {
  width: 18px;
  height: 18px;
}

.ico-report {
  width: 19px;
  height: 24px;
}

.ico-listview {
  width: 17px;
  height: 18px;
}

.ico-chart {
  width: 22px;
  height: 18px;
}

.ico-table {
  width: 20px;
  height: 20px;
}

.ico-hybrid {
  width: 23px;
  height: 20px;
}

.ico-adjust {
  width: 26px;
  height: 26px;
}

.ico-speech-bubble {
  width: 22px;
  height: 22px;
}

.ico-menu {
  width: 18px;
  height: 16px;
}

.ico-arrow-down {
  width: 12px;
  height: 6px;
}

.ico-bell {
  width: 16px;
  height: 20px;
  fill: transparent !important;
}

.ico-bell-active {
  fill: #ebc139 !important;
  stroke: #ebc139 !important;
}

.ico-star {
  width: 20px;
  height: 19px;
  fill: transparent !important;
}

.ico-star-active {
  fill: #ebc139 !important;
  stroke: #ebc139 !important;
}

.ico-cross {
  width: 14px;
  height: 14px;
}

.ico-time {
  width: 18px;
  height: 22px;
}

.ico-info {
  width: 20px;
  height: 20px;
}

.ico-location {
  width: 16px;
  height: 20px;
}

.ico-doc-pdf {
  width: 18px;
  height: 22px;
  fill: #e0464c;
  stroke: #e0464c;
  border-radius: 1px;
}

.ico-doc-doc {
  width: 18px;
  height: 22px;
  fill: #1e8df2;
  stroke: #1e8df2;
  border-radius: 1px;
}

.ico-doc-xls {
  width: 18px;
  height: 22px;
  fill: #1fdd1a;
  stroke: #1fdd1a;
  border-radius: 1px;
}

.ico-doc-other {
  width: 18px;
  height: 22px;
  fill: #8551d7;
  stroke: #8551d7;
  border-radius: 1px;
}

.ico-linked {
	width: 19px;
	height: 20px;
	stroke: #025daf;
	} */

/*  switchables  */

.switcher {
  display: flex;
}

.slideout .switcher {
  margin: 25px 0;
}

.noti-set .switcher {
  margin: 20px 20px 15px;
}

.switcher span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 42px;
  cursor: pointer;
  color: var(--heading-color);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.035em;
  background-color: #f7f9fc;
  border: 1px solid var(--border-color);
  transition: color var(--trans-dur), background-color var(--trans-dur),
    border-color var(--trans-dur);
}

.noti-set .switcher span {
  height: 30px;
  font-size: 12px;
  letter-spacing: 0.042em;
}

.switcher span:first-child {
  border-right: none;
  border-radius: 3px 0 0 3px;
}

.switcher span:last-child {
  border-left: none;
  border-radius: 0 3px 3px 0;
}

.switcher span:hover {
  color: var(--active-color);
}

.switcher .active {
  cursor: default;
  color: #fff !important;
  background-color: var(--active-color);
  border-color: transparent;
}

.switchable {
  display: none;
}

.switchable-active {
  display: block;
}

/*  6. banner
-------------------------------------------------------*/

#banner {
  position: relative;
  z-index: 4;
  padding: 23px 0;
  height: 86px;
  background-color: var(--active-color);
}

#banner .logo {
  position: absolute;
  top: 50%;
  left: 20px;
  margin-top: -23px;
  width: 296px;
  height: 45px;
  overflow: hidden;
  cursor: pointer;
  text-indent: -5000px;
}

#banner .right {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding-right: 30px;
  height: 100%;
}

#banner .user {
  margin-left: 14px;
  width: 32px;
  height: 32px;
}

#banner .user > .avatar {
  height: 100%;
  font-size: 14px;
}

#banner .user .avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  background-color: #031c88;
  border-radius: 50%;
}

#banner .user > .dm {
  top: 49px;
  right: 20px;
  padding-bottom: 15px;
  width: 365px;
  background-color: #fff;
  border-radius: 5px 5px 3px 3px;
  box-shadow: 0 4px 24px 0 rgba(11, 46, 75, 0.16);
}

#banner .user > .dm header {
  position: relative;
  padding-top: 36px;
  height: 177px;
  background-color: var(--active-color);
  border-radius: 3px 3px 0 0;
}

#banner .user > .dm header .avatar {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  font-size: 27px;
}

#banner .user > .dm header .name {
  display: block;
  margin-top: 16px;
  color: #fff;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.027em;
}

#banner .user > .dm .qcksettings {
  padding: 24px 20px 27px;
}

#banner .user > .dm .qcksettings > b {
  display: block;
  margin-bottom: 7px;
  color: var(--heading-color);
  font-size: 18px;
  letter-spacing: 0.027em;
}

#banner .user > .dm .setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 47px;
  font-size: 14px;
}

#banner .user > .dm .setting-logout {
  padding-top: 39px;
}

#banner .user > .dm .setting + .setting {
  border-top: 1px solid #ebeff4;
}

#banner .user > .dm .setting b {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  color: #687f90;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.042em;
}

#banner .user > .dm .setting b .w {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  width: 28px;
  height: 100%;
}

#banner .user > .dm .setting .opt {
  position: relative;
  width: 155px;
}

#banner .user > .dm .setting .default {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  cursor: pointer;
}

#banner .user > .dm .setting .default .text {
  flex-grow: 1;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.042em;
  transition: color var(--trans-dur);
}

#banner .user > .dm .setting .default:hover .text {
  color: var(--active-color);
}

#banner .user > .dm .setting .default .ico-arrow-down {
  width: 8px;
  height: 4px;
  stroke: #687f90;
}
/*
#banner .user > .dm .setting .triggered .ico-arrow-down {
	transform: rotate(180deg);
	}
*/
#banner .user > .dm .setting .dm {
  position: absolute;
  top: 25px;
  left: 0;
  z-index: 10;
  width: 100%;
  font-size: 12px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.23);
}

#banner .user > .dm .setting .dm ul {
  padding: 5px 0;
}

#banner .user > .dm .setting .dm li {
  padding: 8px 10px;
}

/*  7. app navigation
-------------------------------------------------------*/

#appnav {
  position: relative;
  z-index: 2;
  height: 54px;
  color: #687f90;
  font-size: 14px;
  letter-spacing: 0.036em;
  background-color: #fff;
  box-shadow: 0 4px 14px 0 rgba(11, 46, 75, 0.08);
}

#appnav > ul {
  display: flex;
  height: 100%;
}

#appnav > ul > li {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 28px;
  min-width: 100px;
  height: 100%;
  text-align: center;
  border-right: 1px solid var(--border-color);
}

#appnav > ul > li::before,
#appnav > ul > li::after {
  content: attr(data-text);
  display: block;
}

#appnav > ul > li::after {
  visibility: hidden;
  height: 0;
  font-weight: 700;
}

#appnav > ul .indicator {
  bottom: 0;
}

#appnav .export {
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  align-items: center;
  padding: 0 10px 0 14px;
  height: 34px;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  background-color: #69c735;
  border-radius: 3px;
  transition: background-color var(--trans-dur);
}

#appnav .export:hover {
  background-color: #59bb22;
}

#appnav .export .ico {
  margin-right: 8px;
  stroke: #fff;
}

/*  8. content
-------------------------------------------------------*/

#cont {
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 140px);
  padding: 20px;
}

/*  8.1. main content
-------------------------------------------------------*/

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 100%;
  height: 100%;
}

main:not(:only-child) {
  max-width: calc(100% - 74px);
  transition: max-width 350ms;
}

.sidebar-expanded main {
  max-width: calc(100% - 403px);
}

.header-config {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
  padding: 0 20px;
  width: 100%;
  height: 73px;
  background-color: #fff;
  border: 1px solid var(--border-color);
  border-radius: 3px 3px 0 0;
}

div + .header-config {
  margin-top: 20px;
}

#landscape .header-config {
  justify-content: flex-start;
}

.header-config > b {
  margin: 4px auto 0 0;
  color: var(--heading-color);
  font-size: 18px;
  letter-spacing: 0.028em;
}

#landscape .header-config > b {
  margin-right: 0;
}

.header-config .divider {
  margin: 0 20px;
  height: 30px;
  border-left: 1px solid var(--border-color);
}

.header-config + div {
  height: calc(100% - 72px);
  background-color: #fff;
  border: solid var(--border-color);
  border-width: 0 1px 1px;
  border-radius: 0 0 3px 3px;
}

/* Overflow and Win/Loss pages: hybrid view */
#overview + div {
  flex-shrink: 0;
  height: calc((100vh - 240px) / 2);
  margin-top: 20px;
  background-color: #fff;
  border: 1px solid var(--border-color);
  border-radius: 3px;
}

/* Data page */
#overview:nth-last-child(3),
#overview + .header-config + div {
  height: calc((100vh - 314px) / 2);
  overflow: hidden;
}

/* Data page */
#overview + .header-config + div {
  background-color: #fff;
  border: solid var(--border-color);
  border-width: 0 1px 1px;
  border-radius: 0 0 3px 3px;
}

.header-config .opt-sm-bd-year {
  margin-right: auto;
}

.header-config .opt-sm-bd-month + .divider {
  margin-right: 10px;
  margin-left: 10px;
}

/*  dropdown menus  */

.opt-sm {
  position: relative;
}

.opt-sm-scope {
  min-width: 140px;
}

.opt-sm-currency {
  min-width: 90px;
}

.opt-sm-historical {
  min-width: 117px;
}

.opt-sm-report {
  min-width: 98px;
}

.opt-sm-bd-month {
  min-width: 137px;
}

.opt-sm-bd-year {
  min-width: 65px;
}

.opt-sm-bd-country {
  min-width: 139px;
}

.opt-sm .default {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 4px;
  height: 30px;
  cursor: pointer;
  color: #687f90;
  font-size: 12px;
  letter-spacing: 0.042em;
  transition: color var(--trans-dur);
}

.opt-sm-bd .default {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.036em;
}

.opt-sm .default:hover {
  color: var(--active-color);
}

.opt-sm .default .ico {
  margin-right: 10px;
}

.opt-sm img {
  /* flags */
  vertical-align: middle;
  margin-right: 14px;
  width: 20px;
  height: 13px;
  border-radius: 1px;
}

.opt-sm .default .ico-arrow-down {
  margin-right: 0;
  margin-left: auto;
  width: 8px;
  height: 4px;
  stroke: #687f90;
  border-left: 14px solid transparent;
}

.opt-sm-bd .ico + .text {
  padding-left: 4px;
}

.opt-sm .dm {
  top: 37px;
  left: 0;
  min-width: 100%;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
}

.opt-sm .dm ul {
  padding: 5px 0;
  white-space: nowrap;
}

.opt-sm .dm li {
  position: relative;
  padding: 8px 15px;
  cursor: pointer;
  color: #707c84;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.5;
}

.opt-sm-country .dm li {
  padding-left: 49px;
}

.opt-sm .dm .active {
  font-weight: 700;
}

.opt-sm .dm .checkbox {
  position: absolute;
  top: 50%;
  left: 20px;
  margin-top: -7px;
}

.opt-sm .dm .radio {
  position: absolute;
  top: 50%;
  left: 20px;
  margin-top: -8px;
}

.opt-sm-country .dm img {
  /* flags */
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -7px;
}

/*  Show  */

.header-config .show {
  display: flex;
  align-items: center;
  height: 30px;
  font-size: 12px;
}

.header-config .show b {
  color: #687f90;
  font-weight: 400;
  letter-spacing: 0.042em;
}

.header-config .show ul {
  display: flex;
  margin-left: 24px;
}

.header-config .show li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -1px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: var(--ico-hover-color);
  border: 1px solid var(--border-color);
  transition: color var(--trans-dur), background-color var(--trans-dur);
}

.header-config .show li:not(.active):hover {
  color: var(--active-color);
}

.header-config .show .active {
  position: relative;
  cursor: default;
  color: #fff;
  background-color: var(--active-color);
  border-color: transparent;
}

.header-config .show li:first-child {
  border-radius: 2px 0 0 2px;
}

.header-config .show li:last-child {
  border-radius: 0 2px 2px 0;
}

/*  View  */

.header-config .view {
  display: flex;
  align-items: center;
  height: 30px;
  font-size: 12px;
}

.header-config .view b {
  margin-right: 20px;
  color: #687f90;
  font-weight: 400;
  letter-spacing: 0.042em;
}

.header-config .view ul {
  display: flex;
  align-items: center;
}

.header-config .view li {
  position: relative;
}

.header-config .view li + li {
  margin-left: 20px;
}

.header-config .view-overview li + li {
  margin-left: 17px;
}

.header-config .view li .ico {
  display: flex;
}

.header-config .view .active .ico {
  fill: var(--ico-hover-color);
}

.header-config .view-overview .active .ico {
  stroke: var(--active-color);
}

/*  slideout togglers  */

.header-config .slideout-toggler[data-target="#filter"] {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #687f90;
  font-size: 12px;
  letter-spacing: 0.042em;
  transition: color var(--trans-dur);
}

.header-config .slideout-toggler[data-target="#filter"]:hover {
  color: var(--active-color);
}

.header-config .slideout-toggler[data-target="#filter"] .ico-adjust {
  margin-right: 13px;
}

.header-config .slideout-toggler[data-target="#filter"]:hover .ico-adjust {
  stroke: var(--ico-hover-color);
}

.header-config .slideout-toggler-active {
  color: var(--active-color) !important;
}

.header-config .slideout-toggler-active .ico {
  stroke: var(--active-color) !important;
}

/*  8.2. sidebar
-------------------------------------------------------*/

#sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-left: 20px;
  width: 54px;
  height: 100%;
  overflow: hidden;
  font-family: Poppins, sans-serif;
  transition: width 350ms;
}

.sidebar-expanded #sidebar,
#sidebar.non-collapsable {
  width: 385px !important;
}

#sidebar-opener {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding-top: 23px;
  width: 54px;
  height: 100%;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  transition: opacity 350ms;
}

.sidebar-expanded #sidebar-opener {
  pointer-events: none;
  opacity: 0;
}

#sidebar-opener li {
  display: block;
  margin: 0 7px;
}

#sidebar-opener li + li {
  margin-top: 28px;
}

#sidebar-opener .ico {
  display: block;
  margin: 0 auto;
  stroke: var(--ico-static-color);
}

#sidebar-opener:hover .ico {
  stroke: var(--ico-hover-color);
}

/*  8.2.1. Ask the analyst
-------------------------------------------------------*/

#ask {
  opacity: 0;
  padding: 0 20px 20px;
  width: 385px;
  background-color: #fff;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  transition: opacity 350ms;
}

.sidebar-expanded #ask {
  opacity: 1;
}

#ask header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -19px;
  padding: 0 19px;
  height: 72px;
  border-bottom: 1px solid var(--border-color);
}

#ask header b {
  margin-top: 4px;
  color: var(--heading-color);
  font-size: 18px;
  letter-spacing: 0.027em;
}

#ask .select {
  margin-top: 19px;
}

#ask textarea {
  margin-top: 15px;
}

#ask .attach {
  display: flex;
  align-items: center;
  margin-top: 15px;
  padding-left: 41px;
  height: 32px;
  cursor: pointer;
  color: var(--active-color);
  font-size: 14px;
  letter-spacing: 0.036em;
  background: 0 -35px / var(--sprite-2x-size) no-repeat var(--sprite-2x-url);
}

#ask button {
  margin-top: 20px;
}

/*  8.2.2. country data
-------------------------------------------------------*/

.country-data {
  position: relative;
}

.mobile .country-data {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#sidebar .country-data {
  margin-top: 20px;
  padding: 20px 20px 0 20px;
  opacity: 0;
  width: 385px;
  height: calc(100vh - 605px);
  overflow: hidden;
  background-color: #fff;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  transition: opacity 350ms;
}

#cal-more .country-data {
  opacity: 1;
  margin-right: -20px;
  padding: 20px 20px 0 0;
  width: auto;
  height: calc(100vh - 233px);
  border-radius: 0;
  border: none;
}

.country-data::after {
  content: "";
  display: block;
  height: 20px;
}

#calendar.weekly .country-data::after {
  content: none;
}

.sidebar-expanded #sidebar .country-data {
  opacity: 1;
}

#sidebar .country-data article {
  padding-bottom: 23px;
  border-bottom: 1px solid var(--border-color);
}

#cal-more .country-data article,
#calendar.weekly .country-data article {
  padding: 20px;
  background-color: #fff;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.country-data article + article {
  margin-top: 10px;
}

#sidebar .country-data article + article {
  margin-top: 22px;
}

.country-data header {
  display: flex;
  align-items: center;
}

.country-data header b {
  margin-right: 5px;
  color: #6b7a86;
  font-weight: 400;
  font-size: 10px;
  letter-spacing: 0.05em;
}

.country-data header .tag {
  min-width: 65px;
}

.country-data .ico-bell {
  margin-left: auto;
}

.country-data .ico-menu-dots {
  position: relative;
  top: -1px;
  margin: 0 4px 0 15px;
  border: solid transparent;
  border-width: 2px 5px;
}

#calendar.weekly .country-data .ico-menu-dots {
  margin-right: -5px;
}

.country-data .ico-menu-dots:hover {
  color: var(--ico-hover-color);
}

.country-data dl {
  margin-top: 13px;
  line-height: 1.5;
}

.country-data dl div {
  display: flex;
  align-items: baseline;
}

.country-data dl div + div {
  margin-top: 8px;
}

.country-data dt {
  width: 112px;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.042em;
}

#calendar.weekly .country-data dt {
  width: 92px;
}

.country-data dd {
  padding-left: 12px;
  font-size: 14px;
  letter-spacing: 0.036em;
}

/*  8.3. Notification Setting
-------------------------------------------------------*/

.noti-set {
  position: absolute;
  top: -5000px;
  left: -5000px;
  z-index: 1;
  opacity: 0;
  width: 262px;
  background-color: #fff;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  box-shadow: 0 6px 18px 0 rgba(63, 76, 97, 0.1);
}

.noti-set::before,
.noti-set::after {
  content: "";
  position: absolute;
  top: 54px;
  right: 0;
  z-index: 1;
  width: 10px;
  height: calc(100% - 99px);
  background-color: #fff;
}

.noti-set::after {
  right: auto;
  left: 0;
}

.noti-set header {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  padding: 6px 25px 0;
  height: 54px;
  background-color: #fff;
  border-bottom: 1px solid #e6ebf3;
  border-radius: 3px 3px 0 0;
}

.noti-set header b {
  position: relative;
  top: -1px;
  margin-left: 13px;
  font-size: 16px;
  letter-spacing: 0.03125em;
}

.noti-set .form {
  margin-right: 20px;
  margin-left: 20px;
}

.noti-set .btn-main {
  margin: 15px 20px;
  width: calc(100% - 40px);
}

.noti-set .switchable {
  margin: 0 20px;
}

.noti-set footer {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  color: var(--active-color);
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.036em;
  background-color: #fff;
  border-top: 1px solid #e6ebf3;
  border-radius: 0 0 3px 3px;
}

.noti-set footer a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.noti-set .tail {
  position: absolute;
  top: 15px;
  right: -6px;
  width: 11px;
  height: 11px;
  background-color: #fff;
  border: 1px solid var(--border-color);
  transform: rotate(45deg);
}

/*  9. country data
-------------------------------------------------------*/

.slideout {
  position: absolute;
  top: 140px;
  right: 5000px;
  z-index: 1;
  padding: 20px 20px 0;
  width: 405px;
  height: calc(100vh - 140px);
  background-color: #fff;
  box-shadow: 6px 4px 14px 0 rgba(11, 46, 75, 0.08);
  transform: translateX(418px);
  transition: transform 350ms;
}

.slideout::after {
  content: "";
  display: block;
  height: 20px;
}

.slideout-active {
  transform: translateX(0);
}

.slideout > header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding: 24px 0 2px;
  height: 73px;
  border-bottom: 1px solid var(--border-color);
}

#cal-more > header {
  margin-bottom: 0;
}

.slideout > header .ico-cross {
  margin: 0 16px 0 6px;
}

#cal-more > header .ico-cross {
  position: absolute;
  top: 0;
  right: 7px;
  margin-right: 0;
  margin-left: 0;
}

.slideout > header b {
  margin-right: auto;
  font-size: 18px;
  letter-spacing: 0.028em;
}

.slideout > header .clear {
  margin-top: 1px;
  cursor: pointer;
  color: var(--active-color);
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.035em;
}

.slideout > header .clear:hover {
  text-decoration: underline;
}

.slideout .switchable .add {
  display: inline-block;
  margin-top: 21px;
  cursor: pointer;
  color: var(--active-color);
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.0357em;
}

.slideout .switchable .add:hover {
  text-decoration: underline;
}

.slideout .switchable button {
  margin-top: 30px;
}

.slideout .divider {
  margin-top: 20px;
  border-top: 1px solid var(--border-color);
}

.slideout .switchable + .divider {
  margin: 26px 0;
}

.slideout .label + .select:nth-last-child(2) {
  margin-right: 10px;
  width: 80px;
}

.slideout .select + input {
  flex-grow: 1;
  width: auto;
}

.slideout .radio-list {
  display: flex;
  flex-wrap: wrap;
  color: var(--heading-color);
  font-size: 14px;
  letter-spacing: 0.036em;
}

.slideout .divider + .form .radio-list {
  padding: 5px 0 1px;
}

.slideout .form:nth-last-child(3) > .radio-list {
  padding-bottom: 4px;
}

.slideout .radio-list li {
  display: flex;
  align-items: center;
  min-width: 94px;
}

.slideout .radio-list li:nth-child(4n) {
  min-width: 0;
}

.slideout .radio-list .radio + span {
  padding-left: 4px;
  cursor: pointer;
}

.slideout .slider {
  position: relative;
  margin: 28px 0 27px;
  width: 100%;
  border-top: 2px solid var(--border-color);
}

.slideout .select + .slider {
  margin-top: 29px;
}

.slideout .slider::before,
.slideout .slider::after {
  position: absolute;
  top: -24px;
  pointer-events: none;
  font-size: 11px;
}

.slideout .slider::before {
  left: 0;
}

.slideout .slider-range::before {
  content: attr(data-min);
}

.slideout .slider-month::before {
  content: attr(data-min-text);
}

.slideout .slider::after {
  right: 0;
}

.slideout .slider-range::after {
  content: attr(data-max);
}

.slideout .slider-month::after {
  content: attr(data-max-text);
}

.slideout .ui-slider-range {
  position: absolute;
  top: -2px;
  height: 2px;
  background-color: var(--active-color);
}

.slideout .ui-slider-handle {
  position: absolute;
  top: -10px;
  margin-left: -9px;
  width: 18px;
  height: 18px;
  cursor: pointer;
  background-color: rgba(28, 116, 186, 0.2);
  border-radius: 50%;
  outline: none;
}

.slideout .ui-slider-handle::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border: 3px solid var(--active-color);
  border-radius: 50%;
}

.slideout .ui-slider-handle::after {
  content: attr(data-text);
  position: absolute;
  top: 23px;
  left: -26px;
  width: 70px;
  color: var(--active-color);
  font-weight: 600;
  font-size: 12px;
  white-space: nowrap;
  text-align: center;
}

#my header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 61px;
}

.slideout #my header {
  margin-bottom: 20px;
  padding-right: 0;
  padding-left: 0;
  height: auto;
  border-bottom: 0;
}

#my header h2 {
  font-size: 18px;
  letter-spacing: 0.028em;
}

#my header ul {
  display: flex;
  font-size: 12px;
}

#my header li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 68px;
  height: 30px;
  cursor: pointer;
  font-size: 12px;
  background: #f7f9fc;
  border: 1px solid #e6ebf3;
  transition: color var(--trans-dur);
}

#my header li:hover {
  color: var(--active-color);
}

#my header li + li {
  margin-left: -1px;
}

#my header li:first-child {
  border-radius: 3px 0 0 3px;
}

#my header li:last-child {
  border-radius: 0 3px 3px 0;
}

#my header .active {
  position: relative;
  cursor: default;
  color: #fff !important;
  background: var(--active-color);
  border: none;
}

#my .scroller {
  position: absolute;
  bottom: 0;
  left: -5000px;
  padding: 3px 20px 0;
  width: 100%;
  height: calc(100% - 61px);
  overflow: hidden;
}

.mobile #my .scroller {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#my .scroller-active {
  position: relative;
  left: 0;
}

.slideout #my .scroller-active {
  padding-right: 0;
  padding-left: 0;
  height: auto;
  overflow: visible;
}

#my .scroller::after {
  content: "";
  display: block;
  height: 20px;
}

.slideout #my .scroller::after {
  content: none;
}

#my .scroller article {
  position: relative;
  margin-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #f1f5f8;
}

#my .scroller h3 {
  color: #425c6f;
  font-size: 14px;
  letter-spacing: 0.035em;
}

#my .scroller h3 a:hover,
#my .scroller h3 a:focus {
  color: var(--active-color);
}

#my .scroller p {
  margin-top: 5px;
  color: #6b7a86;
  font-size: 12px;
  letter-spacing: 0.042em;
}

#my .scroller p span::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin: 0 6px 0 10px;
  height: 15px;
  border-right: 1px solid #d6d6d6;
}

#my .menu {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 14px;
  height: 20px;
}

#my .menu .ico-menu-dots {
  width: 4px;
  height: 16px;
  border: solid transparent;
  border-width: 2px 5px;
}

#my .menu .triggered {
  color: var(--ico-hover-color);
}

#my .menu .dm {
  top: 0;
  right: 18px;
  width: 114px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
}
/*
#my article:last-of-type .menu .dm {
	top: -32px;
	}
*/
#my .menu .dm {
  left: auto;
}

#my .menu ul {
  padding: 5px 0;
}

#my .menu li {
  padding: 10px 15px;
  cursor: pointer;
  color: #707c84;
  font-weight: 300;
  font-size: 12px;
}

/* About Us */

.title {
  font-size: 2rem;
  line-height: 1.45;
  letter-spacing: 0.023em;
  padding-bottom: 20px;
  color: #7984a3;
  font-weight: 600;
}

#about h1 {
  color: #7984a3;
  font-size: 25px;
  line-height: 1.45;
  letter-spacing: 0.023em;
  padding-bottom: 20px;
  margin-bottom: 30px;
  position: relative;
  font-weight: 600;
}

#about h1::after,
#values h1::after {
  background: #e3adab;
  left: 50%;
  margin: 0 0 0 -25px;
  width: 50px;
  height: 3px;
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
}

#about h2 {
  margin-top: 3.13vh;
  color: #7984a3;
  font-size: 22px;
  line-height: 1.45;
  letter-spacing: 0.023em;
}

/* p{
	margin-top: 5px;
	font-weight: 700;
	color: #212529;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.03125em;
} */

#about .blue-bg p {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
}

#about .blue-bg h1 {
  color: #fff;
  font-weight: 500;
  font-size: 24px;
}

.service-icon {
  border: 1px solid #e3adab;
  padding: 30px;
  border-radius: 50%;
  background: #e3adab;
  color: #fff;
}

/* overlap image */
.image-overlap-container {
	position: relative;
  max-width: 100%;
  overflow: hidden;
}

.image-container img {
	object-fit: cover;
	position: absolute;
	opacity: .1;
	height: 100%;
  width: 100%;
}

/* img {
	position: relative;
} */

.footer-padding {
  padding: 10px 0px 1px;
}

.bg-grey {
  background-color: #dedede;
}

.bg-dark-grey {
  background-color: #252525;
}

.bg-blue {
  background-color: #7984a3;
  padding: 50px 0;
}

/* contact us */
.title-padding {
  padding: 60px 40px 40px;
}

#contact h1,
#contact h2,
#contact p {
  color: #fff;
}

.container-fluid {
  padding: 60px 40px 40px;
}

#contact h1::after {
  background: #fff;
  left: 50%;
  margin: 0 0 0 -25px;
  width: 50px;
  height: 3px;
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
}

#contact i {
  color: #fff;
}

.contact-bottom-pd {
  padding-bottom: 60px;
}

/************* Product List ************/

/* Product list table increment / decrement */
.btn-quantity {
  border: 0;
  background: #e3adab;
  width: 40px;
  font-size: inherit;
}
/* table input field width, center */
.quantity-inputbtn {
  width: 50%;
  text-align: center;
}
/* onhover padding removed */
.quantity-inputbtn:hover {
  padding: 0;
}
/* form control input field focus border */
.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #cacaca;
  outline: 0;
  box-shadow: none;
}
/* search bottom margin */
.search-bottom-margin {
  margin-bottom: 20px;
  border: 1px solid #cacaca;
}

/* Header */

/* ============ desktop view ============ */
.logo {
  width: 180px;
}

.header-shadow {
  box-shadow: 0 0 8px 4px #ebebeb;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #e3adab;
  font-weight: 600;
}

.navbar-light .navbar-nav .nav-link {
  color: #7984a3;
  font-weight: 600;
}

.navbar-light .navbar-toggler {
  color: transparent;
  border-color: transparent;
}

.navbar .container-fluid {
  padding: 0 60px;
}

.navbar-fixed {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9;
}

.dropdown-menu {
  font-size: 0.9rem;
}

.dropdown-item {
  color: #7984a3;
  font-weight: 600;
  font-size: 1rem;
}

.dropdown-item:hover {
  color: #e3adab;
  font-weight: 600;
  background-color: #f5f5f5;
  font-size: 1rem;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: var(--active-color);
}

@media all and (min-width: 992px) {
  .dropdown-menu li {
    position: relative;
  }
  .nav-item .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
  }
  .nav-item .submenu-left {
    right: 100%;
    left: auto;
  }
  .dropdown-menu > li:hover {
    background-color: #f1f1f1;
  }
  .dropdown-menu > li:hover > .submenu {
    display: block;
  }
  .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0;
    align-items: center;
  }
}

/* ============ small devices ============ */
@media (max-width: 991px) {
  .dropdown-menu .dropdown-menu {
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    margin-bottom: 0.5rem;
  }
}

/* 31-10 */
#checkout, #aboutus, #productlist, #myprofile{
    margin-top: 100px;
}

/* Margin */
.mrt-10{
	margin-top: 10px;
}

.mrt-20 {
  margin-top: 20px;
}

.mrlr-40{
  margin: 0 40px;
}

/* Padding */
.pdlr-40{
  padding: 0 40px;
}


/* Global */
.text-align-center{
  text-align: center;
  justify-content: center;
}


/* row added because of login screen x scroll issue*/
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0; /*-15px*/
  margin-left: 0; /*-15px*/
}


/*Profile*/
.my-profile-banner{
  background-color: #252525;
}

.my-profile-banner img{
  height: 250px;
  width: 100%;
  object-fit: cover;
  opacity: .4;
}

.bg-primary{
  background-color: #e3adab !important;
  color: #fff;
  padding: 10px;
  font-size: 1.1rem;
  font-weight: 600;
}

.profile-content {
  position: relative;
  margin-top: -60px;
}

.avatar-xxl {
  height: 9.5rem;
  width: 10.5rem;
}

.avatar-xxl img{
  object-fit: cover;
  height: 10.5rem;
}


/* admin kanban 
.react-trello-board {
  border: 0;
  background-color: #fff;
}

.react-trello-lane{
  background-color: #e3adab;
}*/

.react-trello-board {
  background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/03/77/44/4557c00a384dbe0.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.react-trello-lane {
  background-color: rgba(51, 170, 51, 0.9);
}


.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.modal.enter-done {
  opacity: 1;
  pointer-events: visible;
}

.modal.exit {
  opacity: 0;
}

.modal-content {
  width: 500px;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  transform: translateY(-200px);
}

.modal.enter-done .modal-content {
  transform: translateY(0);
}

.modal.exit .modal-content {
  transform: translateY(-200px);
}

.modal-header,
.modal-footer {
  padding: 10px;
}

.modal-title {
  margin: 0;
}

.modal-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

