/*-----------------------------------------------------

    Title :  Global CSS
    Usage :  common styles

-------------------------------------------------------

    1. reset
    2. font
    3. typography
    4. reusable
    5. container
    6. banner
    7. app navigation
    8. content
       8.1. main contant
       8.2. sidebar
            8.2.1. Ask the analyst
            8.2.2. country data
       8.3. Notification Setting
    9. slideout

-------------------------------------------------------*/

/*  1. reset
-------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  line-height: 1.2;
  color: #435b6f;
  font-family: Lato, sans-serif;
  /* overflow: hidden; */
}

li {
  list-style: none;
}

strong {
  font-weight: 700;
}

img {
  vertical-align: top;
}

img,
abbr,
fieldset,
iframe {
  border: none;
}

img,
video {
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  text-align: left;
}

input,
textarea,
button {
  color: inherit;
  font-weight: inherit;
  font-family: inherit;
  outline: none;
  box-shadow: none;
}

textarea {
  vertical-align: top;
  overflow: auto;
  -webkit-appearance: none;
  border-radius: 0;
}

button {
  cursor: pointer;
  overflow: visible;
}

button:disabled {
  /* min-width: 100px;
  width: 150px; */
  background: #dddddd;
  font-weight: bold;
  color: rgb(138, 125, 125);
  border: 0 none;
  border-radius: 0px;
  cursor: not-allowed;
  /* padding: 10px; */
  /* margin: 10px 5px; */
}

button:not(:disabled) {
  cursor: pointer;
}

.ps__rail-x,
.ps__rail-y {
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

/*  2. font
-------------------------------------------------------*/

/*  3. typography
-------------------------------------------------------*/

a {
  color: inherit;
  text-decoration: none;
  transition: color var(--trans-dur);
}

a:hover {
  color: var(--active-color);
}

.select .text-placeholder {
  color: #bac5cf;
}

::-webkit-input-placeholder {
  color: #bac5cf;
}

::-moz-placeholder {
  color: #bac5cf;
}

:-ms-input-placeholder {
  color: #bac5cf;
}

/*  4. default
-------------------------------------------------------*/

/*  variables  */

:root {
  --heading-color: #253747;
  --active-color: #e3adab;
  --error-color: #fc726d;
  --ico-static-color: #cad4dd;
  --ico-hover-color: #e3adab;
  --border-color: #e6ebf2;
  --trans-dur: 200ms;
}

/*  form elements */

.form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
}

.form .label {
  display: block;
  margin-bottom: 8px;
  width: 100%;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.042em;
}

.form .error,
.select .error {
  margin-top: 3px;
  color: var(--error-color);
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.036em;
}

/*  input  */

input {
  padding: 0 17px;
  width: 100%;
  height: 40px;
  font-size: 14px;
  letter-spacing: 0.036em;
  background-color: #fff;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  transition: background-color var(--trans-dur), border-color var(--trans-dur);
}

.input-error,
.textarea-error {
  background-color: #fff6f6;
  border-color: #ffc3b4;
}

/*  textarea  */

textarea {
  padding: 12px 17px;
  width: 100%;
  height: 122px;
  resize: none;
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.036em;
  background-color: #f7fafc;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  transition: background-color var(--trans-dur), border-color var(--trans-dur);
}

/*  select  */

.select {
  position: relative;
  width: 100%;
}

.select .default {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 17px;
  height: 40px;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 0.035em;
  background-color: #f7fafc;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  transition: background-color var(--trans-dur), border-color var(--trans-dur);
}

.select .default-error {
  background-color: #fff6f6;
  border-color: #ffc3b4;
}

.select ul {
  display: block;
  margin-bottom: 0;
  padding: 5px 0;
}

.select li {
  position: relative;
  padding: 8px 15px 8px;
  cursor: pointer;
  color: #707c84;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
}

.select .checkbox-list li {
  padding-left: 44px;
}

.select .checkbox-list .checkbox {
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -7.5px;
}

/*  checkbox  */

.checkbox {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #d7dee8;
  border-radius: 3px;
  transition: background-color var(--trans-dur), border-color var(--trans-dur);
}
/*
.active > .checkbox {
  background-color: #0e68b0;
  border-color: #0e68b0;
}

.checkbox .ico-check {
  position: absolute;
  top: 4px;
  left: 2px;
  width: 10px;
  height: 7px;
  stroke: #fff;
}
*/
/*  radio  */

.radio {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  cursor: pointer;
  color: #d7dee8;
  background-color: #fff;
  border: 1px solid currentColor;
  border-radius: 50%;
  transition: color var(--trans-dur);
}

.active > .radio {
  color: var(--active-color);
}

.radio::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -4px 0 0 -4px;
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 50%;
}

.active > .radio::before {
  background-color: currentColor;
}

/*  button  */

.btn {
  /* width: 100%; */
  color: #fff;
  font-weight: 700;
  border: 1px solid transparent;
  border-radius: 3px;
  /* transition: color var(--trans-dur), background-color var(--trans-dur);
  border-color var(--trans-dur); */
  padding: 10px;
  margin: 10px 5px;
}

.btn-lg {
  padding: 0 15px;
  height: 48px;
  font-size: 16px;
  letter-spacing: 0.03125em;
}

.btn-sm {
  padding: 0 10px;
  height: 30px;
  font-size: 12px;
  letter-spacing: 0.042em;
}

.btn-main {
  background-color: var(--active-color);
}

.btn:hover {
  /* background-color: #e3adab; */
  /* border-color: #e3adab; */
  color: #fff;
}

.btn-disabled {
  color: #fff;
  background-color: #ebc139;
  border-color: #ebc139;
}

.btn-check:focus + .btn,
.btn:focus {
  outline: 0;
  box-shadow: none;
}

.btn-link {
  border: 0;
  background-color: transparent;
  color: #e3adab;
  font-size: 14px;
}

/*  icon  */

i {
  color: #e3adab;
  margin: 0 15px;
  font-size: 1.4rem;
}

/*  8. content
-------------------------------------------------------*/

#cont {
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 140px);
  padding: 20px;
}

/*  8.1. main content
-------------------------------------------------------*/

.header-config {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
  padding: 0 20px;
  width: 100%;
  height: 73px;
  background-color: #fff;
  border: 1px solid var(--border-color);
  border-radius: 3px 3px 0 0;
}

/*  8.2. sidebar
-------------------------------------------------------*/

#sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-left: 20px;
  width: 54px;
  height: 100%;
  overflow: hidden;
  font-family: Poppins, sans-serif;
  transition: width 350ms;
}

.sidebar-expanded #sidebar,
#sidebar.non-collapsable {
  width: 385px !important;
}

#sidebar-opener {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding-top: 23px;
  width: 54px;
  height: 100%;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  transition: opacity 350ms;
}

.sidebar-expanded #sidebar-opener {
  pointer-events: none;
  opacity: 0;
}

#sidebar-opener li {
  display: block;
  margin: 0 7px;
}

#sidebar-opener li + li {
  margin-top: 28px;
}

#sidebar-opener .ico {
  display: block;
  margin: 0 auto;
  stroke: var(--ico-static-color);
}

#sidebar-opener:hover .ico {
  stroke: var(--ico-hover-color);
}

/* About Us */

.title {
  font-size: 2rem;
  line-height: 1.45;
  letter-spacing: 0.023em;
  padding-bottom: 20px;
  color: #7984a3;
  font-weight: 600;
}

#about h1 {
  color: #7984a3;
  font-size: 25px;
  line-height: 1.45;
  letter-spacing: 0.023em;
  padding-bottom: 20px;
  margin-bottom: 30px;
  position: relative;
  font-weight: 600;
}

#about h1::after,
#values h1::after {
  background: #e3adab;
  left: 50%;
  margin: 0 0 0 -25px;
  width: 50px;
  height: 3px;
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
}

#about h2 {
  margin-top: 3.13vh;
  color: #7984a3;
  font-size: 22px;
  line-height: 1.45;
  letter-spacing: 0.023em;
}

/* p{
	margin-top: 5px;
	font-weight: 700;
	color: #212529;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.03125em;
} */

#about .blue-bg p {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
}

#about .blue-bg h1 {
  color: #fff;
  font-weight: 500;
  font-size: 24px;
}

.service-icon {
  border: 1px solid #e3adab;
  padding: 30px;
  border-radius: 50%;
  background: #e3adab;
  color: #fff;
}

/* overlap image */
.image-overlap-container {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.image-container img {
  object-fit: cover;
  position: absolute;
  opacity: 0.1;
  height: 100%;
  width: 100%;
}

/* img {
	position: relative;
} */

.footer-padding {
  padding: 10px 0px 1px;
}

.bg-grey {
  background-color: #dedede;
}

.bg-dark-grey {
  background-color: #252525;
}

.bg-blue {
  background-color: #7984a3;
  padding: 50px 0;
}

/* contact us */
.title-padding {
  padding: 60px 40px 40px;
}

#contact h1,
#contact h2,
#contact p {
  color: #fff;
}

.container-fluid {
  padding: 40px; /*60px 40px 40px;*/
}

#contact h1::after {
  background: #fff;
  left: 50%;
  margin: 0 0 0 -25px;
  width: 50px;
  height: 3px;
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
}

#contact i {
  color: #fff;
}

.contact-bottom-pd {
  padding-bottom: 60px;
}

/************* Product List ************/

/*for input up down arrows*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.table-mb{
  margin-bottom: 130px;
}

.fixed-bottom{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  left: 0;
  border-top: 1px solid #dedede;
  padding: 10px;
}

/* Product list table increment / decrement */
.btn-quantity {
  border: 0;
  background: #7984a3;
  width: 40px;
  font-size: inherit;
  color: #fff;
}
/* table input field width, center */
.quantity-inputbtn {
  width: 50%;
  text-align: center;
}

/* onhover padding removed */
.quantity-inputbtn:hover {
  padding: 0;
}

/* form control input field focus border */
.form-control {
  border: 0;
  border-bottom: 1px solid #dedede;
  border-radius: 0;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #cacaca;
  outline: 0;
  box-shadow: none;
}

.form-floating > label {
  padding: 1rem 0rem;
}

.form-floating > .form-control {
  padding: 1rem 0rem;
}

/* product list mobile */
.my-renderer > .btn.btn-main {
  margin-bottom: 4px;
}

.my-renderer {
  vertical-align: text-top;
}

/* select */
.form-select {
  border: 0;
  border-bottom: 1px solid #dedede;
  border-radius: 0;
  padding-left: 0;
  color: #495057;
}

.form-select:focus {
  border-color: #dedede;
  outline: 0;
  box-shadow: none;
}

/* autofill background color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-shadow: 0 0 0px 1000px #f3f3f3 inset;
}
/* search bottom margin */
.search-bottom-margin {
  margin-bottom: 8px;
  border: 1px solid #cacaca;
}

/* Header */

/* ============ desktop view ============ */
.logo {
  width: 140px;
}

.navbar button {
  border: 0;
  background-color: transparent;
}

.header-shadow {
  box-shadow: 0 0 8px 4px #ebebeb;
}

.navbar-collapse{
  margin-top: 10px;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #e3adab;
  font-weight: 600;
}

.navbar-light .navbar-nav .nav-link {
  color: #7984a3;
  font-weight: 600;
}

.nav-link i {
  margin: 0;
}

.navbar-light .navbar-toggler {
  color: transparent;
  border-color: transparent;
}

.navbar .container-fluid {
  padding: 0 16px;
}

.navbar-fixed {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9;
  /* padding: 0; */
}

.dropdown-menu {
  font-size: 0.9rem;
}

.dropdown-item {
  color: #7984a3;
  font-weight: 600;
  font-size: 1rem;
}

.dropdown-item:hover {
  color: #e3adab;
  font-weight: 600;
  background-color: #f5f5f5;
  font-size: 1rem;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: var(--active-color);
}

@media all and (min-width: 992px) {
  
  /* header menu */
  .mobile-hide{
    display: none !important;
  }
  
  /* .navbar .container, .navbar .container-fluid, .navbar .container-lg, .navbar .container-md, .navbar .container-sm, .navbar .container-xl {
    justify-content: inherit;
  } */
  
  .dropdown-menu li {
    position: relative;
  }

  .nav-item .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
  }

  .nav-item .submenu-left {
    right: 100%;
    left: auto;
  }

  .dropdown-menu > li:hover {
    background-color: #f1f1f1;
  }
  .dropdown-menu > li:hover > .submenu {
    display: block;
  }
  .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0;
    align-items: center;
  }
}

/* 31-10 */
#checkout,
#aboutus,
#productlist,
#myprofile,
#myorders,
#producttype,
#adminproductlist,
#crm,
#admincustlist,
#admincustorder,
#cpp {
  margin-top: 78px;
}

/* Margin */
.mrt-10 {
  margin-top: 10px;
}

.mrt-20 {
  margin-top: 20px;
}

.mrlr-40 {
  margin: 0 40px;
}

.mrb-20 {
  margin-bottom: 20px;
}

.mrr-5 {
  margin-right: 5px;
}

.mrl-15{
  margin-left: 15px;
}

/* Padding */
.pdlr-40 {
  padding: 0 40px;
}

.pdb-30 {
  padding-bottom: 30px;
}

.pd-20{
  padding: 20px;
}

/* Global */

/* Button */
.bg-main{
  /* background-color: rgb(243 243 242);
  border: 1px solid #dedede;
  padding: 10px; */
  background-color: rgb(227 173 171 / 22%);
  border: 1px solid rgb(227 173 171 / 22%);
  padding: 10px;
}

/* Text Align */
.text-align-center {
  text-align: center;
  justify-content: center;
}

/* FLoat */
.float-right {
  float: right;
}

.float-left {
  float: left;
}

/* Toggle */
.toggle div {
  float: left;
}

/* row added because of login screen x scroll issue*/
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0; /*-15px*/
  margin-left: 0; /*-15px*/
}

/* Floating Label */
.form-floating>label {
  left: -3px;
}
/* End Global */

/* Profile */
.my-profile-banner {
  background-color: #252525;
}

.my-profile-banner img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  opacity: 0.4;
}

.bg-primary {
  background-color: #e3adab !important;
  color: #fff;
  padding: 10px;
  font-size: 1.1rem;
  font-weight: 600;
}

.avatar-xxl {
  height: 9.5rem;
  width: 10.5rem;
}

.avatar-xxl img {
  object-fit: cover;
  height: 10.5rem;
}

/* admin kanban */
/*
.react-trello-board {
  border: 0;
  background-color: #fff;
}

.react-trello-lane{
  background-color: #e3adab;
}*/

.jlqSaW {
  background-color: #212839 !important;
}
.react-trello-board {
  background: url("dark-wall-empty-room-with-plants-floor-3d-rendering.jpg")
    no-repeat 0 50%;
  background-position: bottom;
  background-size: cover;
  margin-top: 70px;
  background-color: #212839;
}

.react-trello-lane {
  background-color: #212a39;
  color: #fff;
}

/* Start Kanban Modal */
.crm-modal .modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: right;
  justify-content: right;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  padding: 0;
}

.crm-modal .modal-content {
  width: 80%;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  transform: translateY(-200px);
  height: 100%;
  border-radius: 0;
  border: 0;
}

.crm-modal .modal-footer button:first-child {
  display: none;
}

/* floating button */
.crm-modal .floating-modal-btn {
  position: absolute;
  left: -70px;
  top: 0;
  background-color: #cbe712;
  color: #fff;
  border-radius: 20px 0 0 20px;
  margin: 20px 10px;
  border: 0;
}

/* Tabs */
.react-tabs__tab--selected {
  background: var(--active-color);
  border-color: var(--active-color);
  color: #fff;
  border-radius: 5px;
  padding-bottom: 10px;
}

.react-tabs__tab-list {
  border-bottom: 0;
  margin: 0 0 20px;
}

.tab-content{
  /* border: 1px solid #dedede; */
  background-color: #fff;
  border-radius: 5px;
  /* padding: 20px 0; */
}

.product-detail-table{
  height: calc(100vh - 315px);
  width: 100%;
}

.crm .modal-body{
  background: #cbe71259;
  background-image: url("white-concrete-wall.jpg");
  background-position: center;
  z-index: -1;
  background-size: cover;
}

/* #crm .btn-main{
  background-color: #0e0864;
} */

/* End Kanban Modal */

/* Start Admin Customer list */
#admincustlist .image-container img {
  object-fit: cover;
  position: absolute;
  opacity: 0.1;
  height: 100%;
  width: 100%;
}

#admincustlist .ag-center-cols-container .ag-cell:first-child {
  text-decoration: underline;
  cursor: pointer;
}
#admincustlist .ag-center-cols-container .ag-cell:nth-child(2) {
  text-decoration: underline;
  cursor: pointer;
}
/* End Admin Customer list */

/* Start Orders By Customer */
#admincustorder .ag-center-cols-container .ag-cell:first-child {
  text-decoration: underline;
  cursor: pointer;
}

#admincustorder .modal-body {
  background: #fff;
}
/* Modal Product detail tab - Table height 
#admincustorder .product-detail-table{
  height: calc(100vh - 365px);
  width: 100%;
}*/
/* Modal content card view for Customer and order details */
#admincustorder .modal .react-tabs__tab-panel--selected {
  border: 1px solid #dedede;
}
/* Ends Orders By Customer */

/* General modal */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.modal.enter-done {
  opacity: 1;
  pointer-events: visible;
}

.modal.exit {
  opacity: 0;
}

.modal-content {
  width: 500px;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  transform: translateY(-200px);
}

.modal.enter-done .modal-content {
  transform: translateY(0);
}

.modal.exit .modal-content {
  transform: translateY(-200px);
}

.modal-header {
  padding: 20px;
  border: 0;
  background: #7984a3;
  color: #fff;
}

.modal-footer{
  border-top: 0;
  padding-top: 0;
}

#crm .modal-footer{padding: 0;}

#crm .modal-header {
  background-color: #172856;
  color: #fff;
}

.modal-title {
  margin: 0;
}

.modal-body {
  padding: 20px;
  /* padding: 0; */
  border-top: 1px solid #eee;
}

/* Sidebar */
.pro-sidebar {
  width: auto;
  min-width: auto;
}

.sidebar-logo {
  margin: 0 auto;
  padding: 5px;
}

/* my order */
.table thead th {
  border-bottom: 2px solid #e9adac;
  background-color: #e9adac;
}

/* error */
.error {
  width: 100%;
  margin-top: 0.25 rem;
  font-size: 0.875em;
  color: #dc3545;
}

/* Ag grid */
.ag-theme-alpine .ag-header-row,
.ag-theme-alpine .ag-panel-title-bar-title,
.ag-theme-alpine .ag-multi-filter-group-title-bar {
  font-weight: 700;
  color: #fff !important;
  background: #7984a3;
}

/* table icon */
.btn-icon {
  border: 0;
  background: transparent;
}

i.icon-blue {
  color: #0e0864;
}

i.icon-red {
  color: #dc3545;
}

/* Product types */
.tile-one {
  background-color: #5d7395;
}

.tile-two {
  background-color: #f19c9c;
}

.tile-three {
  background-color: #c3bfbf;
}

.tile-four {
  background-color: #d1d1d1;
}

.tile-five {
  background-color: #6d8bb8;
}

.tile-six {
  background-color: #f7b8b8;
}

.tile-btn{
  border: 0;
  padding: 0;
  height: 180px;
}
  
/* Order fail */
.cross-icon {
  text-align: center;
}

/* Customer cart */
.cart-input {
  width: 70px !important;
  border: 1px solid #dedede !important;
  padding: 10px !important;
  text-align: center;
}

/* ============ small devices ============ */

@media (max-width: 991px){
  /* cart */
  #msform .mobile-padding{
    padding: 0;
  }
  /* customer shipping info btn */
  .toggle {
    display: flex;
  }
  .navbar-collapse{
    border-top: 1px solid #dedede;
  }
  .dropdown-menu .dropdown-menu {
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    margin-bottom: 0.5rem;
  }
  /* product list */
  .btn-quantity {
    margin: 0;
    width: auto;
    padding: 0.375rem 0.5rem;
  }
  
  .quantity-inputbtn {
    width: 35px;
    padding: 5px;
    height: 35px;
    text-align: center;
  }
  
  .my-renderer {
    vertical-align: unset;
  }

  .tile-btn{
    height: 110px !important;
  }

  .ag-react-container p {
    margin-bottom: 0;
  }

  .ag-row{
    word-wrap: none;
  }

  .ag-cell{
    white-space: normal;
  }

  .ag-cell .my-renderer{
    white-space: nowrap;
  }

  .ag-row p{
    word-wrap: break-word;
    line-height: 25px;
  }

  /* Product types */
  .display-none{display: none;}
  
  /* Global */
  .btn-main, .btn-secondary {
    width: 100%;
    margin: 5px 0;
  }

  .navbar {padding: .5rem 0;}

  .container-fluid{padding: 10px;}
}

/* Payment */
.payment-card{
  margin: 50px auto;
  border: 1px solid #dedede;
  padding: 15px;
}

.payment-cards{
  text-align: center;
}

.payment-cards img:nth-child(1){
  width: 45px;
}

.payment-cards img:nth-child(2){
  width: 45px;
  margin: 0 5px;
}

.payment-cards img:nth-child(3){
  width: 45px;
}

.payment-cards img:nth-child(4){
  width: 45px;
  margin: 0 5px;
}

/* Customer shipping order summary */
.order-bg{
  background-color: #7984a3;
   color: #fff;
}