/* screen - g-b-insta-landing-page */

.g-b-insta-landing-page {
  background-color: var(--white);
  position: relative;
  width: 100%; 
}

.g-b-insta-landing-page .mask-group-1-uEBdwN {
  background-color: transparent;
  height: 700px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 90px;
  width: 100%;
}

.g-b-insta-landing-page .rectangle-201-uEBdwN {
  background-color: #5d7395;
  height: 702px;
  left: 0px;
  opacity: 0.28;
  position: relative;
  top: 88px;
  width: 100%;
}

.g-b-insta-landing-page .group-1-uEBdwN {
  background-color: transparent;
  height: 50px;
  left: 147px;
  position: absolute;
  top: 33px;
  width: 50px;
}

.g-b-insta-landing-page .path-1-WeV53s {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.g-b-insta-landing-page .group-2-uEBdwN {
  background-color: transparent;
  height: 11px;
  left: 85px;
  object-fit: cover;
  position: absolute;
  top: 118px;
  width: 164px;
}

.g-b-insta-landing-page .group-3-uEBdwN {
  background-color: transparent;
  height: 21px;
  left: 47px;
  object-fit: cover;
  position: absolute;
  top: 87px;
  width: 245px;
}

.g-b-insta-landing-page .products-custom-profile-logout-uEBdwN {
  background-color: transparent;
  color: #677b9b;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  height: 44px;
  right: 50px;
  letter-spacing: 0px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 69px;
}

.g-b-insta-landing-page .supplier-s-of-p-hetics-products-uEBdwN {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
  line-height: 80px;
  position: absolute;
  text-align: center;
  top: 260px;
  width: 100%;
}

.g-b-insta-landing-page .rectangle-202-uEBdwN {
  background-color: #5d7395;
  top: 17px;
  padding: 60px;
  text-align: center;
}

.g-b-insta-landing-page .rectangle-202-uEBdwN:hover {
  background-color: #6d8bb8;
  cursor: pointer;
}

.viewproduct-main-container{
  position: relative;
  width: 100%;
  top: -230px;
}

.g-b-insta-landing-page .rectangle-205-uEBdwN {
  border: 1px solid var(--white);
  padding: 20px;
  position: relative;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  cursor: pointer;
  background-color: transparent;
}

.g-b-insta-landing-page .rectangle-203-uEBdwN {
  background-color: #f19c9c;
  top: 17px;
  padding: 60px;
  text-align: center;
}

.g-b-insta-landing-page .rectangle-203-uEBdwN:hover {
  background-color: #ecacac;
  cursor: pointer;
}

.g-b-insta-landing-page .rectangle-204-uEBdwN {
  background-color: #c3bfbf;
  top: 17px;
  padding: 60px;
  text-align: center;
}

.g-b-insta-landing-page .rectangle-204-uEBdwN:hover {
  background-color: #a8a1a1;
  cursor: pointer;
}

.g-b-insta-landing-page .view-products-uEBdwN {
  background-color: transparent;
  height: 65px;
  left: 748px;
  letter-spacing: 0px;
  position: absolute;
  text-align: center;
  top: 731px;
  width: 427px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .viewproduct-main-container{
    top: -100px;
  }
}

@media (max-width: 425px) {
  .viewproduct-main-container{
    top: -20px;
  }

  .g-b-insta-landing-page .supplier-s-of-p-hetics-products-uEBdwN{
    font-size: 54px;
  }
}